*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column-reverse;
}
.card__info-box {
  position: relative;
  padding: 2em 0.6em 2em 0.6em;
  height: 350px;
  width: 280px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.363);
  overflow: hidden;
}
.card__form-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: left;
}
.card__form-info label {
  margin: 0.8em 0;
  color: hsl(279, 6%, 55%);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card__form-info input::-moz-placeholder {
  color: hsl(270, 3%, 87%);
}
.card__form-info input::placeholder {
  color: hsl(270, 3%, 87%);
}
.card__form-info input {
  padding: 0.8em;
  height: 30px;
  font-size: 1rem;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 4px;
  outline: none;
}
.card__form-info input:focus {
  -o-border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
     border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
  border-image-source: 1px;
  border-radius: 5px;
}
.card__form-name, .card__form-number {
  display: flex;
  flex-direction: column;
}
.card__form-date {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
}
.card__block-mmyy {
  margin-right: 1em;
}
.card__expirationdates, .card__field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__field-container {
  width: 100px;
}
.card__expirationdates input {
  width: 40px;
}
.card__btn-form-info {
  padding: 1em 2em;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.card__error {
  margin-top: 0.4em;
  color: hsl(0, 100%, 66%);
  font-size: 0.8rem;
  visibility: hidden;
}
.card__error-text input {
  border: 1px solid hsl(0, 100%, 66%);
}
.card__error-text .card__error {
  visibility: visible;
}
.card__popup {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  transition: right 0.3s;
}
.card__popup-right-to-center {
  right: 0%;
}
.card__popup-img {
  margin-top: 1em;
  width: 25%;
}
.card__popup-text {
  padding: 1em;
}
.card__title-popup {
  color: hsl(278, 68%, 11%);
  font-size: 2.2rem;
}
.card__normal-text-popup {
  margin-top: 1em;
  color: hsl(279, 6%, 55%);
  font-size: 1.4rem;
}
.card__btn-popup {
  padding: 1em 2em;
  width: 80%;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.card__img {
  position: relative;
  background-image: url("../images/bg-main-mobile.png");
  height: 150px;
  width: 280px;
  letter-spacing: 1px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.363);
}
.card__img-front-card {
  position: absolute;
  bottom: -20%;
  left: 9%;
  width: 75%;
  background: none;
  border-radius: 8px;
  box-shadow: -20px 12px 30px rgba(0, 0, 0, 0.363);
  z-index: 1;
}
.card__img-logo {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 50px;
  z-index: 1;
}
.card__text-box-img {
  position: absolute;
  bottom: -5%;
  left: 15%;
  height: 30px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  z-index: 1;
}
.card__img-number {
  font-size: 1.4rem;
}
.card__text-img {
  display: flex;
  justify-content: space-between;
  transform: translate(0%, 110%);
  width: 175px;
  font-size: 0.8rem;
}
.card__second-img {
  width: 280px;
}
.card__img-back-card {
  position: absolute;
  top: 9%;
  right: 5%;
  width: 60%;
  box-shadow: -20px 12px 30px rgba(0, 0, 0, 0.363);
  z-index: 0;
}
.card__second-text {
  position: absolute;
  right: 12%;
  top: 55px;
  font-size: 0.6rem;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 375px) {
  .card__info-box {
    height: 500px;
    width: 375px;
  }
  .card__form-info {
    margin-top: 2em;
  }
  .card__form-info label {
    font-size: 1.3rem;
  }
  .card__form-info input {
    height: 50px;
    font-size: 1.6rem;
  }
  .card__field-container {
    width: 150px;
  }
  .card__expirationdates input {
    width: 70px;
  }
  .card__btn-form-info {
    padding: 1em;
    font-size: 1.8rem;
  }
  .card__img {
    width: 375px;
    height: 200px;
  }
  .card__text-box-img {
    bottom: 3%;
    left: 14%;
  }
  .card__img-number {
    font-size: 2rem;
  }
  .card__text-img {
    width: 230px;
    transform: translate(0%, 200%);
  }
  .card__second-text {
    right: 12%;
    top: 72px;
    font-size: 1rem;
  }
  .card__popup-text {
    padding: 2em;
  }
  .card__title-popup {
    font-size: 4rem;
  }
  .card__normal-text-popup {
    margin-top: 1em;
    font-size: 2rem;
  }
  .card__btn-popup {
    margin-top: 1em;
    padding: 1em 2em;
    width: 90%;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    flex-direction: row-reverse;
  }
  .card__info-box {
    height: 800px;
    width: 1000px;
  }
  .card__form-info {
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
  }
  .card__form-info label {
    font-size: 1.4rem;
  }
  .card__form-info input {
    padding-left: 1.4em;
    height: 60px;
    font-size: 2rem;
  }
  .card__form-info input::-moz-placeholder {
    font-size: 2rem;
  }
  .card__form-info input::placeholder {
    font-size: 2rem;
  }
  .card__form-date, .card__form-name {
    width: 500px;
  }
  .card__expirationdates input {
    width: 80px;
  }
  .card__field-container {
    width: 63%;
  }
  .card__btn-form-info {
    margin-top: 2em;
    width: 45%;
    font-size: 2rem;
  }
  .card__img {
    height: 800px;
    width: 600px;
    background-size: cover;
    background-position: top center;
  }
  .card__img-logo {
    top: 23%;
    left: 45%;
    width: 100px;
  }
  .card__img-front-card, .card__text-box-img {
    top: 20%;
    left: 40%;
    width: 80%;
  }
  .card__text-box-img {
    top: 38%;
    left: 46%;
  }
  .card__img-number {
    font-size: 3.4rem;
  }
  .card__text-img {
    transform: translate(0%, 170%);
    width: 410px;
    font-size: 1.6rem;
  }
  .card__img-back-card {
    top: 56%;
    left: 50%;
    width: 80%;
  }
  .card__second-text {
    left: 113%;
    top: 70.5%;
    font-size: 2rem;
  }
  .card__popup-img {
    width: 10%;
  }
  .card__btn-popup {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */